.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #121212;
}

.container {
  padding: 20px;
  width: 100%;
}

.sectionContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  border-radius: 2px;
  box-shadow: 0px 0px 8px 2px rgb(0 0 0 / 13%);
}

.flex {
  display: flex;
}

.flex-fd-c {
  flex-direction: column;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-e {
  justify-content: end;
}

.flex-ai-c {
  align-items: center;
}

.flex-ai-e {
  align-items: end;
}

.gap-5 {
  gap: 5px
}

.gap-10 {
  gap: 10px
}

.gap-20 {
  gap: 20px
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px 0;
  border-bottom: 1px solid #e8e8e8;
  font-weight: 700;
  font-size: 1.5rem;
}

.header a {
  color: #437abd;
}

/* Loader */
.loader {
  border: 5px solid #e8e6e6;
  border-radius: 50%;
  border-top: 5px solid #437abd;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Main view */

/* Main SearchBar */
.badge {
  width: 40px;
  padding: 2px 8px;
  background-color: #437abd;
  color: #ffffff;
  text-align: center;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
}

.search {
  width: 100%;
  padding: 5px 10px;
  max-width: 250px;
}

/* Main Thumbpodcast container */
.thumbPodcastContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.thumbPodcast {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.thumbPodcastImage {
  width: 120px;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  margin: 0 auto;
  z-index: 10;
}

.thumbPodcastFigcaption {
  margin-top: -45px;
  padding: 40px 20px 20px;
  text-align: center;
}

.thumbPodcastFigcaption h4 {
  font-size: 1rem;
  line-height: 1em;
}

.thumbPodcastFigcaption p {
  font-size: 0.8rem;
}


/* Podcast view */
.podcastContiner {
  gap: 60px;
}

/* Podcast Aside */
.asidePodcast {
  max-width: 240px;
  height: fit-content;
  padding: 20px;
  margin-bottom: 20px;
  justify-self: center;
  overflow: hidden;
}

.asideImage {
  width: 150px;
  height: 150px;
  align-self: center;
}

.asideSection {
  border-top: 1px solid #e8e8e8;
}

.asideSection h3 {
  font-size: 1rem;
  line-height: 1em;
}

.asideSection p {
  font-size: 0.8rem;
}

/* Episodes List */
.podcastContiner section {
  width: 100%;
}

.counter {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 700;
}

.episodesList {
  padding: 10px 15px;
}

.podcastContiner .col {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  min-height: 40px;
  padding: 5px 20px;
}

.podcastContiner .titleCol {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  font-weight: 700;
  padding-bottom: 5px;
}

.episodeCol {
  transition: all .2s ease-in-out;
}

.episodeCol:nth-child(odd) {
  background-color: #f2f2f2;
}


.episodeCol:hover {
  background-color: #ececec;
}

.podcastContiner .col a {
  width: 100%;
}

a .episodeTitle {
  color: #437abd;
  font-weight: 500;
}

.episodeTitle {
  flex: 1 0 70%;
}

.episodeData {
  flex: 1 0 15%;
}

/* Podcast Episode view  */

/* Episode Card */
.episodeCard {
  height: fit-content;
  padding: 20px;
}

.episodeCard a {
  color: #437abd;
  font-weight: 400;
}

.podcastAudio {
  width: 100%;
  margin-top: 20px;
}